* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text:"teste";
}

body {
    padding-block: 8px;
    background-color: rgba(87, 217, 217, 0.721);
}

.galeria {
   position: relative;
    display: columns;
    columns: 3;
    padding-block: 8px;
    background-color: beige;

}
.container-img{
    width: 100%;
    position: relative;
}

.container-img img {
    background-color: blue;
    width: 100%;
    padding-block: 8px;


}

/* ::after adiciona um elemento visual após o html ser carregado */
.container-img::after {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    content: var(--text);
    padding-block: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
   
    font-family: sans-serif;

}